/*aspectos generales :bordes y color de fondo de calculadora*/
.calculadora{boder:3px blue rigde; width: 250px;text-align: center;
background-color: #f6f8d8;}
/*pantalla de visualizasion: bordes,posicion,color de fondo, estilo letra*/
#textopantalla{width: 185px; border: 2px black solid; text-align: right;
position: relative; left: 23px;padding: 0px 5px;
background-color: white; font-family: "courier new";
overflow: hidden;}
/*botones normales :anchura y margen*/
.calculadora[type=button]{width: 35px; padding: 0;}
/*botones especiales*/
.calculadora input.largo{color:red; width: 60px;}
